.box {
    box-sizing: content-box;
    width: 360px;
    height: 260px;
    padding: 10px;
    border: 5px solid #FC440F;
    margin: 15PX;
}
.especial.box {
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    padding: 10px;
    border: 5px solid #FC440F;
    margin: 15PX;
}