<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="assets/js/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>Digite algo para ser exibido</p>
        <input type="text" v-model="conteudo" placeholder="Digite algo aqui">
        <p v-if="conteudo == 'Anderson'">{{conteudo}} Uchôa</p>
        <p v-else>{{conteudo}}</p>

        <p>{{conteudo}}</p>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                mensagem: '<u>Olá, Vue.js! Meu olá, mundo!</u>',
                listas: [
                    {
                        id: 1,
                        nome: 'Anderson Uchôa',
                        idioma: 'Português'
                    },
                    {
                        id: 2,
                        nome: 'Uchôa',
                        idioma: 'Inglês'
                    },
                    {
                        id: 3,
                        nome: 'Anderson Uchôa',
                        idioma: 'Espanhol'
                    }
                ],
                verifica: true,
                numero: 5,
                conteudo: ""
            }
        })
    </script>
</body>
</html>