* {
    font-family: Helvetica, Arial, sans-serif;
}
header {
    background-color: #333333;
}
#nav li.link a{
    color:  #FFFFFF;
}
h2 {
    color: #0099FF;
}   
h3 > a {
    color:  red;
}
p.date {
    font-size: 14px;
    font-style: italic;
    color: gray;
}
.art-destaque li:nth-child(odd) {
    background-color:  #F2F2F2;
}
#recente h3 > a {
    color: #FF9900;
}