/*
Box Model: Como o navegador vai renderizar cada caixa. O padrão é usar o "border box", isso significa que o que for definido como width e height vale até a borda (conteúdo, margin, e borda); A alternativa é usar o "border content" onde o que eu definir de height e width, valerão só para o conteúdo. Bootstrap usa esse.
*/
/*
Position absolute é absoluta em relação ao primeiro ancestral relativo. Isto é, o elemento que tem um "position:absolute" vai procurar em seus ancestrais quem é o próximo que tem posição relativa e se posicionará absolutamente em relação a ele.
Normalmente o body é o mais antigo ancestral que tem position relative.
*/
/*
Floats quebram o fluxo dos elementos ao longo da página. Um elemento de bloco, normalmente utiliza o espaço que precisa e depois coloca margin à direita até o final da linha, para garantir que nada mais esteja ao seu lado (criando o efeito de bloco). Com o float, essa margin extra definida à direita não é criada. Isso é o que dá ao próximo elemento a oportunidade de parar ao lado do elemento que está flutuanto.
"float:none" reseta floats eventualmente aplicados.
*/
/*
Floats fazem com que o pai perca a noção do tamanho que precisa ter para acomodar seus filhos. Isso resulta em um parent com altura 0px, podendo quebrar o layout.
Para "corrigir" esse problema usa-se um "clearfix". A propriedade essencial para isso é "clear:both", mas as soluções "cross browser", utilizam declarações adicionais, para funcionar em todos os browsers.
*/

body {
    background-color: #666;
  }
  
  div {
    width: 200px;
    height: 50px;
  }
  
  section {
    float: left;
    margin: 50px;
  }
  
  .vertical {
    width: 75px;
    height: 150px;
    float: left;
  }
  
  .grande {
    height: 150px;
  }
  
  .preto {
    background-color: black;
  }
  
  .vermelho {
    background-color: red;
  }
  
  .amarelo {
    background-color: yellow;
  }
  
  .azul {
    background-color: rgb(0, 0, 255);
  }
  
  .branco {
    background-color: white;
  }
  
  .centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
  }
  
  .relativo {
    position: relative;
  }
  
  .redondo {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }