.italia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    height: 300px;
    width: 420px;
}

#italia1 {
    background-color: green;
    height: 300px;
    width: 140px;
}

#italia2 {
    background-color: white;
    height: 300px;
    width: 140px;
}

#italia3 {
    background-color: red;
    height: 300px;
    width: 140px;
}

.ucrania {
    display: grid;
    border: 1px solid black;
    height: 300px;
    width: 420px;
}

#ucrania1 {
    background-color: cyan;
    height: 150px;
    width: 420px;
}

#ucrania2 {
    background-color: yellow;
    height: 150px;
    width: 420px;
}

.alemanha {
    display: grid;
    border: 1px solid black;
    height: 300px;
    width: 420px;
}

#alemanha1 {
    background-color: black;
    height: 100px;
    width: 420px;
}

#alemanha2 {
    background-color: red;
    height: 100px;
    width: 420px;
}

#alemanha3 {
    background-color: yellow;
    height: 100px;
    width: 420px;
}

.botswana {
    display: grid;
    border: 1px solid black;
    height: 300px;
    width: 420px;
}

#botswana1 {
    background-color: cyan;
    height: 300px;
    width: 420px;
}

#botswana2 {
    background-color: white;
    height: 70px;
    width: 420px;
    position: relative;
    top: 124px;
}

#botswana3 {
    background-color: black;
    height: 44px;
    width: 420px;
    position: relative;
    top: 14px;
}

.benin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    height: 300px;
    width: 420px;
}

#benin1 {
    background-color: green;
    height: 300px;
    width: 210px;
}

#benin2 {
    background-color: yellow;
    height: 150px;
    width: 210px;
}

#benin3 {
    background-color: red;
    height: 150px;
    width: 210px;
    position: relative;
    top: 150px;
    right: 210px;
}

.finlandia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    height: 300px;
    width: 420px;
}

#finlandia1 {
    background-color: white;
    height: 300px;
    width: 420px;
}

#finlandia2 {
    background-color: blue;
    height: 80px;
    width: 420px;
    position: relative;
    top: 115px;
    right: 420px;
}

#finlandia3 {
    background-color: blue;
    height: 300px;
    width: 80px;
    position: relative;
    bottom: 300px;
    left: 105px;
}

.tailandia {
    display: grid;
    border: 1px solid black;
    height: 300px;
    width: 420px;
}

#tailandia1 {
    background-color: red;
    height: 300px;
    width: 420px;
}

#tailandia2 {
    background-color: white;
    height: 210px;
    width: 420px;
    position: relative;
    top: 45px;
}

#tailandia3 {
    background-color: blue;
    height: 130px;
    width: 420px;
    position: relative;
    top: 40px;
}

.noruega {
    display: grid;
    border: 1px solid black;
    height: 300px;
    width: 420px;
}

#noruega1 {
    background-color: red;
    height: 300px;
    width: 420px;
}

#noruega2 {
    background-color: white;
    height: 80px;
    width: 420px;
    position: relative;
    top: 113px;
    z-index: 0;
}

#norueg2 {
    background-color: blue;
    height: 50px;
    width: 420px;
    position: relative;
    top: 48px;
    z-index: 1;
}

#noruega3 {
    background-color: white;
    height: 300px;
    width: 80px;
    position: relative;
    bottom: 130px;
    left: 105px;
    z-index: 0;
}

#norueg3 {
    background-color: blue;
    height: 300px;
    width: 50px;
    position: relative;
    left: 120px;
    bottom: 430px;
    z-index: 1;
}

.brasil {
    display: grid;
    border: 1px solid black;
    height: 300px;
    width: 420px;
}

#brasil1 {
    background-color: green;
    height: 300px;
    width: 420px;
    position: relative;
}

#brasil2 {
    position: relative;
    width: 50px;
    height: 140px;
    bottom: 210px;
    left: 8px;
}

#brasil2::after {
    content: '';
    position: absolute;
    bottom: 70px;
    border-bottom: 110px solid yellow;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
}

#brasil2::before {
    content: '';
    position: absolute;
    top: 70px;
    border-top: 110px solid yellow;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
}

#brasil3 {
    background-color: blue;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    bottom: 355px;
    left: 130px;
}

#brasil4 {
    background-color: white;
    height: 17px;
    width: 150px;
    border-radius: 7%;
    position: relative;
    bottom: 438px;
    left: 130px;
    color: rgb(25, 100, 25);
    font-size: smaller;
    text-align: center;
}